In [2]:
import numpy as np
import pandas as pd

In [3]:
data =pd.read_excel("/content/Group6.xlsx")

In [4]:
data

      S1   S2   S3
0    432  374  404
1    423  374  399
2    433  374  389
3    456  388  388
4    427  378  402
..   ...  ...  ...
286  439  377  425
287  432  386  430
288  427  370  433
289  421  379  425
290  445  379  405

[291 rows x 3 columns]

In [5]:
data.shape

(291, 3)

In [6]:
#Compute the central tendency measures
#Mean----->Arithematic Average
#(x1+x2+.....+xn)/n
data.mean()

S1    429.666667
S2    372.487973
S3    393.072165
dtype: float64

In [8]:
#Median
#middle value that splits the dataset
data.median()

S1    430.0
S2    372.0
S3    392.0
dtype: float64

In [9]:
#Mode
#most frequent score in the dataset
data.mode()

    S1     S2     S3
0  425  370.0  392.0
1  432    NaN    NaN

In [10]:
#Compute the spread measures
#Range
range = data.max()- data.min()
range

S1    55
S2    37
S3    85
dtype: int64

In [11]:
#compute variance
variance = data.var()
variance

S1     92.609195
S2     25.188648
S3    129.170636
dtype: float64

In [12]:
#compute sd
sd = data.std()
sd

S1     9.623367
S2     5.018829
S3    11.365326
dtype: float64

In [13]:
#Quartile
Q1 = data.quantile(0.25)
Q2 = data.quantile(0.50)
Q3 = data.quantile(0.75)
print("Q1:",Q1)
print("Q2:",Q2)
print("Q3",Q3)

Q1: S1    424.0
S2    369.0
S3    387.0
Name: 0.25, dtype: float64
Q2: S1    430.0
S2    372.0
S3    392.0
Name: 0.5, dtype: float64
Q3 S1    435.0
S2    376.0
S3    398.0
Name: 0.75, dtype: float64

In [14]:
data.describe()

               S1          S2          S3
count  291.000000  291.000000  291.000000
mean   429.666667  372.487973  393.072165
std      9.623367    5.018829   11.365326
min    405.000000  354.000000  348.000000
25%    424.000000  369.000000  387.000000
50%    430.000000  372.000000  392.000000
75%    435.000000  376.000000  398.000000
max    460.000000  391.000000  433.000000